.nav-button{
	float: right;
	text-decoration: none;
	margin-left:20px;
	height: 30px;
	text-align: center;
	padding-top: 4px;
	font-size: 1.3em;
	box-sizing: border-box;
	color:white;
	vertical-align: top; 
}
.nav-button:hover{
	text-decoration: underline;
}
#top::after {
    content: "";
    clear: both;
    display: table;
}

.menu{

    width: 25px;
    height: 3px;
    background-color:white;
    margin: 6px 0;

    }
    .wrap{
    	display: inline-block;
    }
    p{
    	margin-left: -40px;
    }
    .dropdown-element{
    	display:block;
        margin-top: 5px;
        padding:0px 10px;
        color:black;
        text-decoration: none;
    }
.dropdown-element:hover{
text-decoration:underline;

}
    .dropdown-content{
        position: absolute;
        background-color: white;
        color: black;
        padding: 2px;
        border-radius: 10px;
        display: none;

    }
.icon:hover{

background-color:blue;}  
@media only screen and (max-width: 760px) {
  .nav-button{
    font-size: 1em;
  }

}


