body{
	background-image: url(male.jpg);
	background-size: 100% ;
        
}

#content{
	
	margin-top: 15%;
	justify-content: space-between;
	vertical-align: top;

}

select,input{
	border:2px solid white;
	border-radius: 12px;
	background-color:rgba(54, 25, 25, .0);
	color: white;
	width: 100%;
	height: 40px;
	border-collapse: collapse;
	display: block;
	margin-top: 20px;
	box-sizing: border-box;
	text-align: center;
	font-size: 20px;
}

select option{
	background:rgba(54, 25, 25, .6);
	border-collapse: collapse;
	margin: auto;
	display: inline-block;
}
#info{
	width:23%;
    margin-left: 10%;
    display: inline-block;
    
}
#kick-off{
	color: rgb(255, 157, 0);;
	margin: auto;
	border:2px solid rgb(255, 157, 0);;
	border-radius: 10px;
	width: 45%;
	display: block;
	text-align: center;
	margin: 20px auto;
	height: 45px;
	font-size: 20px;
	text-decoration: none;
}
#kick-off:hover{
	background-color: black;
}
#tagline{ 
	width: 27%;
	color: white;
	margin-top: 10PX;
	font-family: 'Duru Sans';
	font-size: 2.3em;
	margin-right: 3%;
	display: inline-block;
	vertical-align: top;
	margin-left: 36%
}
#tagline p{
	margin: 0px;
}
#tagline p span{
	margin: 0px;
	background-color: rgb(255, 157, 0);
	padding: 0 6px 0 4px;
}
@media only screen and (max-width: 760px) {
    #tagline{
        display: block; 
        font-size: 1.2em;
        width: 70%;
        margin: auto;
        margin-top: 30%;

    }
    #info{
        display: block; 
        font-size: 1.2em;
        width: 70%;
        margin: auto;

    }
    #kick-off{
    height: 35px;
    }
    body{
    background-size: 400% ;
	background-position: center;
}
    
}
