body{
	background-color: #210505;
	h1{
    	color: white;
    	text-align: center;
    	font-size: 35px;
    	margin-top: 5px;
    }
    .image{padding: 10px;
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    display: inline-block;

	img{
		width: 100%;
	}}
}
