
	#login{
		position: absolute;
		display: none;
		width: 40%;
		height: 300px;
		background-image: url(../../popup.jpg);
		background-size: 100%;
		margin-left:400px;
		margin-top: 200px;
	#cross{
		position: absolute;
		top: -15px;
		right: -13px;
		color: rgb(255, 157, 0);
	}
		#error{
			color: red;
			margin-top: 15px;
			text-align: center;
			font-size: 25px;
		}
		#form{margin-top: 50px;
			.login{
				width:50%;
				display: block;
				margin: auto;
				border-collapse: collapse; 

			}
			#login_button{
				border: 2px solid rgb(255, 157, 0);
				color: rgb(255, 157, 0);

			}
			#login_button:hover{
				background-color: black;
			}
		}

	}
