body
{ background-color: #210505;
	color: #515656;
	
	.positions{
	.position-name{
		width: 100px;
		box-sizing: border-box;
		margin: 0px;
		display: inline-block;}
		input{
			    background-color: #4a3131;
    
                border-color: #653939;
                    display: inline-block;
                 margin: auto;
                  margin-top: 5px;
		}
			}}