#signup{
		position: absolute;
	    display: none;
		width: 40%;
		height: 300px;
		background-image: url(../../popup.jpg);
		background-size: 100%;
		margin-left:400px;
		margin-top: 200px;
		p{
			padding: 1px;
		}
		#form{margin-top: 20px;
			.signup{
				width:50%;
				display: block;
				margin: auto;
				border-collapse: collapse;
				margin-top: 8px; 

			}
			#signup_button{
				border: 2px solid rgb(255, 157, 0);
				color: rgb(255, 157, 0);

			}
			#signup_button:hover{
				background-color: black;
			}
		}

	}
