body
{ background-color: #210505;
	color: #515656;
	
	.user_list{
		float:right;
		width: 70%;
		table{
			border: 2px solid black;
			border-collapse: collapse;
			tr{border: 2px solid black;
			td,th{
				padding: 0px 5px;
				a{
					color: #515656;
					text-decoration: none;
				
				&:hover{
					color: #515656;
					text-decoration: underline;
				}}

			}}
		}
	}
	
}