/* line 1, ../sass/natwar.scss */
nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 7, ../sass/natwar.scss */
nav li {
  display: inline-block;
}

/* line 11, ../sass/natwar.scss */
nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}
