/* line 2, ../sass/positions.scss */
body {
  background-color: #210505;
  color: #515656;
}
/* line 6, ../sass/positions.scss */
body .positions .position-name {
  width: 100px;
  box-sizing: border-box;
  margin: 0px;
  display: inline-block;
}
/* line 11, ../sass/positions.scss */
body .positions input {
  background-color: #4a3131;
  border-color: #653939;
  display: inline-block;
  margin: auto;
  margin-top: 5px;
}
