/* line 1, ../sass/signup.scss */
#signup {
  position: absolute;
  display: none;
  width: 40%;
  height: 300px;
  background-image: url(../../popup.jpg);
  background-size: 100%;
  margin-left: 400px;
  margin-top: 200px;
}
/* line 11, ../sass/signup.scss */
#signup .cross {
  position: absolute;
  top: -15px;
  right: -13px;
  color: #ff9d00;
}
/* line 17, ../sass/signup.scss */
#signup p {
  padding: 1px;
}
/* line 20, ../sass/signup.scss */
#signup #form {
  margin-top: 20px;
}
/* line 21, ../sass/signup.scss */
#signup #form .signup {
  width: 50%;
  display: block;
  margin: auto;
  border-collapse: collapse;
  margin-top: 8px;
}
/* line 29, ../sass/signup.scss */
#signup #form #signup_button {
  border: 2px solid #ff9d00;
  color: #ff9d00;
}
/* line 34, ../sass/signup.scss */
#signup #form #signup_button:hover {
  background-color: black;
}
